{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Esto es para heredad el block title de la base -->
{% block title %}

{{ super()}}
Welcome
{% endblock%}

{% block content %}
<div class="container">
    {% if username %}
    <h1>Welcome, {{ username | capitalize }}</h1>
    {% endif  %}
    <!-- {% if user_ip %}
    <h4>Your IP is {{user_ip}}</h4>
    {% else %}
    <a href="{{ url_for('index') }}"> Go to index</a>
    {% endif %} -->
</div>
<div class="container text-center">
    <h2>Create Task</h2>
    {{ wtf.quick_form(todo_form) }}
</div>
<div class="container">
    <br>
    <div class="text-center">
        <h2>Your tasks</h2>
    </div>
    <br>
    <div class="row head-task text-center">
        <div class=" col-lg-6">
            <h4>Description</h4>
        </div>
        <div class="col-lg-2">
            <h4>Status</h4>
        </div>
        <div class="col-lg-2">
            <h4>Update?</h4>
        </div>
        <div class="col-lg-2">
            <h4>Delete?</h4>
        </div>
    </div>
</div>
<div class="container">
    {% for todo in todos %}
    {{macro.render_todo(todo, delete_form, update_form)}}
    {%endfor%}
    {% endblock%}
</div>