{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
{{ super()}}
SignUp
{% endblock%}

{% block content %}
<div class="container">
    <h1>Register your new account</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename='images/lime-list-is-empty.png') }}" alt="login-img"
                class="img-responsive">
        </div>
        <div class="col-lg-6">
            {{ wtf.quick_form(signup_form) }}
        </div>
    </div>

</div>
{% endblock %}